@model ICollection<TestCheckAnswersServiceModel>
@{
    var cnt = 1;
}

<div class="mb-3">
    <a class="btn btn-light" asp-controller="Tests" asp-action="Completed">Back</a>
</div>

@foreach (var question in Model)
{
    <div class="container mb-5">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <h3>@cnt. Question: @question.QuestionContent</h3>
                </div>

                <div>
                    <div class="form-group">
                        <label for="@question.CorrectAnswerContent">Correct Answer</label>
                        <input type="text" disabled class="form-control @(question.CorrectAnswerId == question.MyAnswerId ? "btn-success" : "btn-danger")" value="Correct Answer:  @question.CorrectAnswerContent">
                    </div>
                    <div class="form-group">
                        <label for="@question.MyAnswerContent">Your Answer</label>
                        <input type="text" disabled class="form-control @(question.CorrectAnswerId == question.MyAnswerId ? "btn-success" : "btn-danger")" value="Your Answer:  @question.MyAnswerContent">
                    </div>
                </div>
            </div>

        </div>
    </div>
    cnt++;
}
