@model ICollection<UnvaluatedTestsServiceModel>

    <div class="mb-3">
        <a class="btn btn-light" asp-controller="Tests" asp-action="All">Back</a>
    </div>
    <a asp-controller="Tests" asp-action="EvaluatedTests" class="btn btn-warning float-right ml-3 mb-3">Evaluated Tests</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">User</th>
                <th scope="col">Points</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var test in Model)
            {
                <tr>
                    <td><input type="hidden" value=@test.ResultId id="resultId" /></td>
                    <td scope="col">@test.Name</td>
                    <td scope="col">@test.Username</td>
                    <td scope="col">@test.PointsFromClosedQuestions</td>
                    <td scope="col">
                        @if (test.IsTestEvaluated)
                        {
                            <input id="gradeInput" asp-for="@test.Grade" min="2" max="6" value="2" />

                            <button class="btn btn-primary" onclick="onClick(event);"> Submit</button>
                        }
                        else
                        {
                            <a asp-controller="Tests" asp-action="CheckOpenedQuestions" asp-route-testId="@test.Id" asp-route-userId="@test.UserId" asp-route-resultId="@test.ResultId" class="btn btn-primary float-right ml-3">Check Opened Questions</a>
                        }
                    </td>


                    @*<td scope="col">
                        <a asp-controller="Tests" asp-action="ChangeVisibility" asp-route-id="@test.Id" class="btn alert-danger float-right ml-3">Change Visibility</a>
                        <a asp-controller="Tests" asp-action="Details" asp-route-id=@test.Id class="btn btn-primary float-right ml-3">Details</a>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>

    <section>
        <script>
            async function onClick() {
                const grade = Number(document.getElementById('gradeInput').value);
                const resultId = Number(document.getElementById('resultId').value);
                const json = JSON.stringify({ "Grade": grade, "ResultId": resultId })

                const response = await fetch('/Admin/Tests/WriteGrade', {
                    method: "post",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: json
                });

                document.location = '/Admin/Tests/EvaluateTests';
            }
        </script>
    </section>